;;;;
;;;; Views for the 12 Factor App
#{;
  {:el :concept-view
   :id :software-development.twelve-factor-app/concept-view
   :spec {:selection [{:namespace-prefix "software-development.twelve-factor-app"}
                      {:to {:namespace-prefix "software-development.twelve-factor-app"}}]
          :include :related
          :layout :left-right}
   :name "Twelve Factor App Concept View"
   :title "Concept Map for Twelve Factor Apps"
   :desc "shows the concepts of the Twelve Factor App and their relationships"}

  {:el :glossary-view
   :id :software-development.twelve-factor-app/glossary-view
   :spec {:selection {:namespace-prefix "software-development.twelve-factor-app"}}
   :name "Twelve Factor App Glossary View"
   :title "Glossary for Twelve Factor Apps"
   :desc "shows the concepts of the Twelve Factor App"}
  ;
  }