;;;;
;;;; Views for the Event Driven Microservices Blueprint Model
;;;;
#{;
  {:el :container-view
   :id :software-development.architecture.blueprint.microservices.event-driven/container-view
   :selection {:namespace-prefix "software-development.architecture.blueprint.microservices.event-driven"}
   :layout :left-right
   ;:linetype :orthogonal
   :name "Event Driven Microservices Blueprint Container View"
   :title "Container View of the Event Driven Microservices Blueprint"
   :desc "Shows the containers of the Event Driven Microservices Blueprint"}

  ;
  }
