;;;;
;;;; Model for Cloud Provider
;;;;
#{;
  ;;;
  ;;; Concept Model
  ;;;

  ;; Nodes
  {:el :concept
   :id :software-development.cloud.provider/amazon
   :name "Amazon"
   :desc "Amazon is a multinational technology company that focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. Amazon Web Services (AWS) is a subsidiary of Amazon providing on-demand cloud computing platforms and APIs to individuals, companies, and governments."}

  {:el :concept
   :id :software-development.cloud.provider/google
   :name "Google"
   :desc "Google is a multinational technology company that specializes in Internet-related services and products. Google Cloud Platform (GCP) is a suite of cloud computing services that runs on the same infrastructure that Google uses internally for its end-user products."}

  {:el :concept
   :id :software-development.cloud.provider/microsoft
   :name "Microsoft"
   :desc "Microsoft is a multinational technology company that produces computer software, consumer electronics, personal computers, and related services. Microsoft Azure is a cloud computing service created by Microsoft for building, testing, deploying, and managing applications and services through Microsoft-managed data centers."}

  {:el :concept
   :id :software-development.cloud.provider/ibm
   :name "IBM"
   :desc "IBM is a multinational technology and consulting company that offers a wide range of cloud computing services, including infrastructure as a service (IaaS), platform as a service (PaaS), and software as a service (SaaS) through its IBM Cloud platform."}

  {:el :concept
   :id :software-development.cloud.provider/oracle
   :name "Oracle"
   :desc "Oracle is a multinational computer technology corporation that offers a comprehensive and fully integrated stack of cloud applications, platform services, and engineered systems. Oracle Cloud is a cloud computing service offered by Oracle Corporation providing servers, storage, network, applications, and services through a global network of Oracle Corporation managed data centers."}

  {:el :concept
   :id :software-development.cloud.provider/alibaba
   :name "Alibaba"
   :desc "Alibaba is a Chinese multinational conglomerate specializing in e-commerce, retail, internet, and technology. Alibaba Cloud, also known as Aliyun, is a cloud computing service provider, a subsidiary of Alibaba Group."}

  {:el :concept
   :id :software-development.cloud.provider/tencent
   :name "Tencent"
   :desc "Tencent is a Chinese multinational conglomerate holding company with subsidiaries in various internet-related services and products, entertainment, AI, and technology. Tencent Cloud is a cloud computing service provider owned by Tencent."}

  ;; Relationships
  {:el :is-a
   :id :software-development.cloud.provider/amazon-is-a-cloud-provider
   :from :software-development.cloud.provider/amazon
   :to :software-development.cloud/cloud-provider
   :name "is a"
   :desc "cloud provider."
   :tags #{}}

  {:el :is-a
   :id :software-development.cloud.provider/google-is-a-cloud-provider
   :from :software-development.cloud.provider/google
   :to :software-development.cloud/cloud-provider
   :name "is a"
   :desc "cloud provider."
   :tags #{}}

  {:el :is-a
   :id :software-development.cloud.provider/microsoft-is-a-cloud-provider
   :from :software-development.cloud.provider/microsoft
   :to :software-development.cloud/cloud-provider
   :name "is a"
   :desc "cloud provider."
   :tags #{}}

  {:el :is-a
   :id :software-development.cloud.provider/ibm-is-a-cloud-provider
   :from :software-development.cloud.provider/ibm
   :to :software-development.cloud/cloud-provider
   :name "is a"
   :desc "cloud provider."
   :tags #{}}

  {:el :is-a
   :id :software-development.cloud.provider/oracle-is-a-cloud-provider
   :from :software-development.cloud.provider/oracle
   :to :software-development.cloud/cloud-provider
   :name "is a"
   :desc "cloud provider."
   :tags #{}}

  {:el :is-a
   :id :software-development.cloud.provider/alibaba-is-a-cloud-provider
   :from :software-development.cloud.provider/alibaba
   :to :software-development.cloud/cloud-provider
   :name "is a"
   :desc "cloud provider."
   :tags #{}}

  {:el :is-a
   :id :software-development.cloud.provider/tencent-is-a-cloud-provider
   :from :software-development.cloud.provider/tencent
   :to :software-development.cloud/cloud-provider
   :name "is a"
   :desc "cloud provider."
   :tags #{}}

  {:el :rel
   :from :software-development.cloud.provider/amazon
   :to :software-development.cloud.platform/aws
   :name "provides"}

  {:el :rel
   :from :software-development.cloud.provider/microsoft
   :to :software-development.cloud.platform/azure
   :name "provides"}

  {:el :rel
   :from :software-development.cloud.provider/google
   :to :software-development.cloud.platform/google-cloud
   :name "provides"}

  {:el :rel
   :from :software-development.cloud.provider/ibm
   :to :software-development.cloud.platform/ibm-cloud
   :name "provides"}

  {:el :rel
   :from :software-development.cloud.provider/oracle
   :to :software-development.cloud.platform/oracle-cloud
   :name "provides"}

  {:el :rel
   :from :software-development.cloud.provider/alibaba
   :to :software-development.cloud.platform/alibaba-cloud
   :name "provides"}

  {:el :rel
   :from :software-development.cloud.provider/tencent
   :to :software-development.cloud.platform/tencent-cloud
   :name "provides"}
  ;
  }