;;;;
;;;; Views for Cloud Service Model
;;;;
#{;
  {:el :concept-view
   :id :software-development.cloud.provider/concept-view
   :selection [{:namespace-prefix "software-development.cloud.provider"}
               {:to {:namespace-prefix "software-development.cloud.provider"}}]
   :include :related
   :layout :left-right
   :name "Cloud Providers Concept View"
   :title "Cloud Providers Concept View"
   :desc "Shows the concepts related to cloud providers and their relationships."}
  ;
  }
