;;;;
;;;; Example for Domain Driven Design with a Hexagonal Architecture
;;;;
#{;
  ;;;
  ;;; Concept Model Views
  ;;;
  {:el :concept-view
   :id :software-development.domain-driven-design/concept-view
   :selection [{:namespace-prefix "software-development.domain-driven-design"}
               {:to {:namespace-prefix "software-development.domain-driven-design"}}]
   :include :relations
   :layout :left-right
   ;:graphviz {:engine :neato}
   :name "Domain Driven Design Patterns Concept View"
   :title "Concept Map of the Domain Driven Design Patterns"
   :desc "Shows the concepts of Domain Driven Design and their relationships."}

  {:el :glossary-view
   :id :software-development.domain-driven-design/glossary-view
   :selection {:namespace-prefix "software-development.domain-driven-design"}
   :name "Domain Driven Design Glossary View"
   :title "Glossary for Domain Driven Design"
   :desc "shows the concepts of Domain Driven Design"}

  ;
  }