;;;;
;;;; Online Shop Monolith Example Views
;;;;
#{{:el :context-view
   :id :software-development.architecture.example.monolith/context-view
   :selection {:namespace-prefix "software-development.architecture.example.monolith"}
   :layout :left-right
   :name "Online Shop Monolith Example Context View"
   :title "Context view for the Online Shop Monolith example"
   :desc "Shows the systems of the Online Shop Monolith example and their relations"}

  {:el :container-view
   :id :software-development.architecture.example.monolith/container-view
   :selection {:namespace-prefix "software-development.architecture.example.monolith"}
   :layout :left-right
   :name "Online Shop Monolith Example Container View"
   :title "Container view for the Online Shop Monolith example"
   :desc "Shows the containers of the Online Shop Monolith example and their relations"
   :ct [{:ref :software-development.architecture.example.monolith/online-shop-backend-uses-online-shop-db :direction :left}]}

  {:el :component-view
   :id :software-development.architecture.example.monolith/component-view
   :selection {:namespace-prefix "software-development.architecture.example.monolith"}
   :layout :left-right
   :name "Online Shop Monolith Example Component View"
   :title "Component view for the Online Shop Monolith example"
   :desc "Shows the components of the Online Shop Monolith example and their relations"
   :ct [{:ref :software-development.architecture.example.monolith/online-shop-backend-uses-online-shop-db :direction :left}]}

  {:el :deployment-view
   :id :software-development.architecture.example.monolith/deployment-view
   :selection [{:namespace-prefix "software-development.architecture.example.monolith"
                :els #{:node}}
               {:namespace-prefix "software-development.architecture.example.monolith"
                :els #{:link}}]
   :name "Online Shop Monolith Example Deployment View"
   :title "Deployment view for the Online Shop Monolith example"
   :desc "Shows the deployment of the Online Shop Monolith example"}
  ;
  }
