;;;;
;;;; Overarch Model for DORA State of DevOps 
;;;;
#{;;;
  ;;; Concept Model
  ;;;

  ;;
  ;; DevOps Concepts
  ;;

  {:el :concept
   :id :software-development.dora/empower-software-delivery-teams-as-a-business-leader
   :name "How to empower software delivery teams as a business leader"
   :desc ""
   :tags #{"capability" "culture"}
   :link/reference-url ""}

  {:el :concept
   :id :software-development.dora/how-to-transform
   :name "How to transform"
   :desc ""
   :doc "Every organization is constantly undergoing change. Therefore, some questions to ask are:

    * What is the direction of that change?
    * What are the system-level outcomes you are working towards?
    * Is the organization better able to discover and serve its customers, and thus achieve its purpose?
    * Does the organization’s business model and management of its people provide long-term sustainability?

When it seems as if things aren’t going to plan, it’s common for leaders to roll out a transformation program. However, these programs often fail to achieve their goals, using up large quantities of resources and organizational capacity. This document examines how to successfully execute a transformation and addresses some common sources of failure."
   :tags #{"capability" "culture"}}

  ;; Performance
  {:el :concept
   :id :software-development.dora/change-lead-time
   :name "Change lead time"
   :desc "How long does it take to go from code committed to code successfully running in production?"
   :doc ""
   :tags #{"performance" "metric"}
   :link/reference-url "https://dora.dev/guides/dora-metrics-four-keys/"}

  {:el :concept
   :id :software-development.dora/deployment-frequency
   :name "Deployment frequency"
   :desc "How often does your organization deploy code to production or release it to end users?"
   :doc ""
   :tags #{"performance" "metric"}
   :link/reference-url "https://dora.dev/guides/dora-metrics-four-keys/"}

  {:el :concept
   :id :software-development.dora/change-fail-rate
   :name "Change fail rate"
   :desc "What percentage of changes to production or released to users result in degraded service (e.g., lead to service impairment or service outage) and subsequently require remediation (e.g., require a hotfix, rollback, fix forward, patch)?"
   :doc ""
   :tags #{"performance" "metric"}
   :link/reference-url "https://dora.dev/guides/dora-metrics-four-keys/"}

  {:el :concept
   :id :software-development.dora/time-to-restore-service
   :name "Time to restore service"
   :desc "How long does it generally take to restore service when a service incident or a defect that impacts users occurs (e.g., unplanned outage, service impairment)?"
   :doc ""
   :tags #{"performance" "metric"}
   :link/reference-url "https://dora.dev/guides/dora-metrics-four-keys/"}

  {:el :concept
   :id :software-development.dora/software-delivery-performance
   :name "Software delivery performance"
   :desc "Software delivery performance is the ability to develop and deliver software with speed and stability."
   :doc "DORA’s research has consistently found that a team’s software delivery capability
reliably predicts the value that the team provides to their organization.
Survey respondents who achieve high levels of software delivery performance
report that their organizations perform better on business objectives.
Performance can be assessed according to four software delivery metrics:"
   :tags #{"performance" "metric"}}

  ;; Outcomes
  {:el :concept
   :id :software-development.dora/commercial-performance
   :name "Commercial performance"
   :desc ""
   :doc ""
   :tags #{"outcome"}}

  {:el :concept
   :id :software-development.dora/non-commercial-performance
   :name "Non-Commercial performance"
   :desc ""
   :doc ""
   :tags #{"outcome"}}

  {:el :concept
   :id :software-development.dora/organizational-performance
   :name "Organizational performance"
   :desc "Measures the ability of an organization to achieve commercial and non-commercial goals"
   :doc "Organizational performance measures the ability of an organization to achieve commercial and non-commercial goals. Academic research has validated this measure and found it to be highly correlated to measures of return on investment (ROI), and it is robust to economic cycles.

Combined, commercial and non-commercial goals include:

   * Profitability
   * Productivity
   * Market share
   * Number of customers
   * Quantity of products or services
   * Operating efficiency
   * Customer satisfaction
   * Quality of products or services provided
   * Achieving organization or mission goals

Several years of analysis shows that, compared to low performers, organizations with the highest level of software delivery performance are twice as likely to exceed their goals. Employee well-being also contributes to organizational performance."
   :tags #{"outcome"}}

  {:el :concept
   :id :software-development.dora/less-deployment-pain
   :name "Less deployment pain"
   :desc "A measure of the fear and anxiety that engineers and technical staff feel when they push code into production"
   :doc "Deployment pain is a measure of the fear and anxiety that engineers and technical staff feel when they push code into production. It also measures the extent to which deployments are disruptive rather than easy and pain-free. Where deployments are most painful, you’ll find the poorest software delivery performance, organizational performance, and organizational culture.

Teams can reduce deployment pain by implementing the technical practices that drive continuous delivery. Put another way, the technical practices that improve our ability to deliver software with both speed and stability also reduce the stress and anxiety associated with pushing code into production."
   :tags #{"outcome"}}

  {:el :concept
   :id :software-development.dora/less-rework
   :name "Less rework"
   :desc "Fixing things that weren’t done right the first time and, like change fail rate, is a proxy measure for quality."
   :doc "One measure of whether teams are building quality into their work is the how they spend their time. Are they able to focus their time devoting effort and energy on developing new features and supporting infrastructure? Or do teams spend most of their time correcting problems, remediating issues, and responding to defects and customer-support work (that is, fixing issues that arise because quality was not built in up front)? We conceptualize this time into two categories. The first category is proactive or new work, in which we are able to design, create, and work on features, tests, and infrastructure in a structured and productive way to create value for our organizations.

The second category is called reactive unplanned work, or rework. Unplanned work includes any break/fix work, emergency software deployments and patches, responding to urgent audit documentation requests, and so on. Rework is fixing things that weren’t done right the first time and, like change fail rate, is a proxy measure for quality.
"
   :tags #{"outcome"}}

  {:el :concept
   :id :software-development.dora/less-burnout
   :name "Less burnout"
   :desc "Less physical, mental, or emotional exhaustion caused by overwork or stress"
   :doc "Burnout is physical, mental, or emotional exhaustion caused by overwork or stress.
But it’s more than just being overworked or stressed. Burnout can make the things
we once loved about our work and life seem insignificant and dull. It often
manifests itself as a feeling of helplessness, and is correlated with
pathological cultures and unproductive, wasteful work. Dr. Christina Maslach,
professor of psychology at the University of California at Berkeley and a
pioneering researcher on job burnout, found six organizational risk factors
that predict burnout:

* Work overload. Job demands that exceed human limits.
* Lack of control. Inability to influence decisions that affect your job.
* Insufficient rewards. Insufficient financial, institutional, or social rewards.
* Breakdown of community. Unsupportive workplace environment.
* Absence of fairness. Lack of fairness in decision-making processes.
* Value conflicts. Mismatch in organizational values and the individual’s values.

Maslach found that most organizations try to fix the person and ignore the work
environment, even though data shows that fixing the environment has a higher
likelihood of success. Management has the power to change all of these risk factors."
   :tags #{"outcome"}}

  #_{:el :concept
     :id :software-development.dora/well-being
     :name "Well-Being"
     :desc "Well-being is a reflection of individuals’ happiness and job satisfaction. Increased well-being predicts organizational performance and employees’ job tenure. DORA has studied the impact of deployment pain, rework, and burnout on well-being.

Deployment pain is a measure of the fear and anxiety that engineers and technical staff feel when they push code into production.

Rework is reactive unplanned work, including any break/fix work, emergency software deployments and patches, responding to urgent audit documentation requests, and so on.

Burnout is physical, mental, or emotional exhaustion caused by overwork or stress."
     :tags #{"outcome"}}

  ;;
  ;; DevOps Concept Relations
  ;;

  {:el :rel
   :id :change-lead-time-measure-for-software-delivery-performance
   :from :software-development.dora/change-lead-time
   :to :software-development.dora/software-delivery-performance
   :name "measure for"}

  {:el :rel
   :id :software-development.dora/deployment-frequency-measure-for-software-delivery-performance
   :from :software-development.dora/deployment-frequency
   :to :software-development.dora/software-delivery-performance
   :name "measure for"}

  {:el :rel
   :id :software-development.dora/change-fail-rate-measure-for-software-delivery-performance
   :from :software-development.dora/change-fail-rate
   :to :software-development.dora/software-delivery-performance
   :name "measure for"}

  {:el :rel
   :id :software-development.dora/time-to-restore-service-measure-for-software-delivery-performance
   :from :software-development.dora/time-to-restore-service
   :to :software-development.dora/software-delivery-performance
   :name "measure for"}

  {:el :rel
   :id :software-development.dora.capability/well-being-less-rework
   :from :software-development.dora.capability/well-being
   :to :software-development.dora/less-rework
   :name "leads to"}

  {:el :rel
   :id :software-development.dora/organizational-performance-commercial-performance
   :from :software-development.dora/commercial-performance
   :to :software-development.dora/organizational-performance
   :name "leads to"}

  {:el :rel
   :id :software-development.dora/non-commercial-performance-organizational-performance
   :from :software-development.dora/non-commercial-performance
   :to :software-development.dora/organizational-performance
   :name "leads to"}

  ;
  }