;;;;
;;;; DevOps Model Views
;;;;
#{;
  {:el :concept-view
   :id :software-development.dora/concept-view
   :selection {:namespace "software-development.dora"}
   :layout :left-right
   :name "DORA Concept View"
   :title "Concept Map for DevOps Research and Assessment (DORA)"
   :desc "Shows a concept map of the DevOps Research and Assessment (DORA) State of DevOps model"}

  {:el :glossary-view
   :id :software-development.dora/glossary-view
   :selection {:namespace-prefix "software-development.dora"}
   :name "DORA Glossary View"
   :title "Glossary for DevOps Research and Assessment (DORA)"
   :desc "shows the concepts of the DevOps Research and Assessment (DORA) State of DevOps model"}
   ;
  }
