;;;;
;;;; Model for Cloud Computing
#{;
  ;;;
  ;;; Concept Model
  ;;;

  ;; Nodes
  {:el :concept
   :id :software-development.cloud/cloud-computing
   :name "Cloud Computing"
   :desc "A model for enabling ubiquitous, convenient, on-demand
          network access to a shared pool of configurable computing resources (e.g.,
          networks, servers, storage, applications, and services) that can be rapidly
          provisioned and released with minimal management effort or service provider
          interaction."
   :tags #{"cloud"}}

  {:el :concept
   :id :software-development.cloud/on-demand-self-service
   :name "On-demand self-service"
   :desc "A consumer can unilaterally provision computing capabilities, such as server
          time and network storage, as needed automatically without requiring human
          interaction with each service provider."
   :tags #{"cloud" "characteristic"}}

  {:el :concept
   :id :software-development.cloud/broad-network-access
   :name "Broad network access"
   :desc "Capabilities are available over the network and accessed through standard
          mechanisms that promote use by heterogeneous thin or thick client platforms
          (e.g., mobile phones, tablets, laptops, and workstations)."
   :tags #{"cloud" "characteristic"}}

  {:el :concept
   :id :software-development.cloud/resource-pooling
   :name "Resource pooling"
   :desc "The provider's computing resources are pooled to serve multiple consumers
          using a multi-tenant model, with different physical and virtual resources
          dynamically assigned and reassigned according to consumer demand."
   :tags #{"cloud" "characteristic"}}

  {:el :concept
   :id :software-development.cloud/rapid-elasticity
   :name "Rapid elasticity"
   :desc "Capabilities can be elastically provisioned and released, in some cases
          automatically, to scale rapidly outward and inward commensurate with demand.
          To the consumer, the capabilities available for provisioning often appear
          unlimited and can be appropriated in any quantity at any time."
   :tags #{"cloud" "characteristic"}}

  {:el :concept
   :id :software-development.cloud/measured-service
   :name "Measured service"
   :desc "Cloud systems automatically control and optimize resource use by leveraging
          a metering capability1 at some level of abstraction appropriate to the type of
          service (e.g., storage, processing, bandwidth, and active user accounts).
          Resource usage can be monitored, controlled, and reported, providing
          transparency for both the provider and consumer of the utilized service."
   :tags #{"cloud" "characteristic"}}

  {:el :concept
   :id :software-development.cloud/cloud-service-model
   :name "Cloud Service Model"
   :desc "The type of service provided by a cloud provider"
   :tags #{"model"}}
  
  {:el :concept
   :id :software-development.cloud/cloud-deployment-model
   :name "Cloud Deployment Model"
   :desc "Cloud deployment models include Public Cloud, Private Cloud, Hybrid Cloud, and
          Multi-Cloud."
   :tags #{"model"}}

  {:el :concept
   :id :software-development.cloud/cloud-provider
   :name "Cloud Provider"
   :desc "A company that offers cloud computing services, such as virtual machines, storage, databases, and applications, to customers over the internet."
   :doc "A cloud provider is a company that offers cloud computing services, such as virtual machines, storage, databases, and applications, to customers over the internet.
Cloud providers typically offer a range of services models, including Infrastructure as a Service (IaaS), Platform as a Service (PaaS), and Software as a Service (SaaS),
as well as specialized services such as machine learning, artificial intelligence, and Internet of Things (IoT)."
   :tags #{"cloud" "provider"}}

  {:el :concept
   :id :software-development.cloud/cloud-computing-platform
   :name "Cloud Computing Platform"
   :desc "A  set of tools, services, and infrastructure that enables developers
          to build, deploy, and manage applications on the cloud. Cloud computing platforms may include
          services such as virtual machines, databases, AI, machine learning, and IoT, as well as developer
          tools for building and deploying applications."
   :tags #{"cloud" "platform"}}

  {:el :concept
   :id :software-development.cloud/cloud-migration-strategy
   :name "Cloud Migration Strategy"
   :desc "A plan for moving applications, data, and other business elements
          to a cloud computing environment. A cloud migration strategy typically includes an assessment
          of the current environment, identification of workloads to be migrated, selection of the appropriate
          cloud deployment model, and implementation of the migration plan."
   :tags #{"cloud" "migration" "strategy"}}

  {:el :concept
   :id :software-development.cloud/landing-zone
   :name "Landing Zone"
   :desc "A landing zone is a pre-configured environment in the cloud that provides a foundation for migrating
          workloads and applications. A landing zone typically includes network configurations, security policies,
          and governance controls to ensure a secure and compliant cloud environment."
   :tags #{"cloud" "landing zone"}}

  {:el :concept
   :id :software-development.cloud/cloud-native-application
   :name "Cloud Native Application"
   :desc "A cloud-native application is an application that is designed and built specifically for cloud
          environments. Cloud-native applications are typically developed using microservices architecture,
          containerization, and serverless computing to take advantage of the scalability, flexibility, and
          cost-effectiveness of cloud computing."
   :tags #{"cloud" "application" "architecture"}}

  ;;;
  ;;; Relations
  ;;;
  {:el :has
   :id :software-development.cloud/cloud-computing-has-cloud-service-model
   :from :software-development.cloud/cloud-computing
   :to :software-development.cloud/cloud-service-model
   :name "has"
   :desc "Cloud computing has cloud service models."
   :tags #{"cloud" "service" "model"}}

  {:el :has
   :id :software-development.cloud/cloud-computing-has-on-demand-self-service
   :from :software-development.cloud/cloud-computing
   :to :software-development.cloud/on-demand-self-service
   :name "has"
   :desc "essential characteristic"
   :tags #{"cloud" "characteristic"}}
  {:el :has
   :id :software-development.cloud/cloud-computing-has-broad-network-access
   :from :software-development.cloud/cloud-computing
   :to :software-development.cloud/broad-network-access
   :name "has"
   :desc "essential characteristic"
   :tags #{"cloud" "characteristic"}}
  {:el :has
   :id :software-development.cloud/cloud-computing-has-resource-pooling
   :from :software-development.cloud/cloud-computing
   :to :software-development.cloud/resource-pooling
   :name "has"
   :desc "essential characteristic"
   :tags #{"cloud" "characteristic"}}
  {:el :has
   :id :software-development.cloud/cloud-computing-has-rapid-elasticity
   :from :software-development.cloud/cloud-computing
   :to :software-development.cloud/rapid-elasticity
   :name "has"
   :desc "essential characteristic"
   :tags #{"cloud" "characteristic"}}
  {:el :has
   :id :software-development.cloud/cloud-computing-has-measured-service
   :from :software-development.cloud/cloud-computing
   :to :software-development.cloud/measured-service
   :name "has"
   :desc "essential characteristic"
   :tags #{"cloud" "characteristic"}}

  {:el :rel
   :id :software-development.cloud/cloud-computing-platform-implements-cloud-computing
   :from :software-development.cloud/cloud-computing-platform
   :to :software-development.cloud/cloud-computing
   :name "implements"
   :desc "A cloud computing platform implements cloud computing."
   :tags #{"cloud" "platform"}}

  {:el :has
   :id :software-development.cloud/cloud-computing-has-cloud-deployment-model
   :from :software-development.cloud/cloud-computing
   :to :software-development.cloud/cloud-deployment-model
   :name "has"
   :desc "Cloud computing has cloud deployment models."
   :tags #{"cloud" "deployment" "model"}}

  {:el :rel
   :id :software-development.cloud/cloud-provider-provides-cloud-computing-platform
   :from :software-development.cloud/cloud-provider
   :to :software-development.cloud/cloud-computing-platform
   :name "provides"
   :desc "A cloud provider provides a cloud computing platform."}
  {:el :has
   :id :software-development.cloud/cloud-adoption-framework-has-cloud-migration-strategy
   :from :software-development.cloud/cloud-adoption-framework
   :to :software-development.cloud/cloud-migration-strategy
   :name "has"
   :desc "The Cloud Adoption Framework has cloud migration strategies."}

  {:el :has
   :id :software-development.cloud/cloud-computing-has-well-architected-framework
   :from :software-development.cloud/cloud-computing
   :to :software-development.cloud/well-architected-framework
   :name "has"
   :desc "Cloud Computing has Well-Architected Framework."}
  {:el :has
   :id :software-development.cloud/cloud-computing-has-cloud-adoption-framework
   :from :software-development.cloud/cloud-computing
   :to :software-development.cloud/cloud-adoption-framework
   :name "has"
   :desc "Cloud Computing has Cloud Adoption Framework."}}
  ;
  
