;;;;
;;;; Views for Cloud Computing
;;;;
#{;
  {:el :concept-view
   :id :software-development.cloud/concept-view
   :spec {:selection [{:namespace-prefix "software-development.cloud"}
                      {:to-namespace-prefix "software-development.cloud"}]
          :include :related
          :layout :left-right}
   :name "Concept View for Cloud Computing"
   :title "Cloud Computing Concept Map"
   :desc "Shows the concepts related to Cloud Computing and their relationships."}
  ;
  }
