;;;;
;;;; Views for Cloud Computing
;;;;
#{;
  {:el :concept-view
   :id :software-development.cloud/concept-view
   :selection {:namespace "software-development.cloud"}
   :include :relations
   :layout :left-right
   :name "Cloud Computing Concept View"
   :title "Concept Map for Cloud Computing"
   :desc "shows the concepts related to Cloud Computing and their relationships"}

  {:el :glossary-view
   :id :software-development.cloud/glossary-view
   :selection {:namespace-prefix "software-development.cloud"}
   :name "Cloud Glossary View"
   :title "Glossary for Cloud Computing"
   :desc "shows the concepts of Cloud Computing"}

  ;
  }
