;;;;
;;;; Model for Quantum Computing
;;;;
#{;


  ;; Nodes
  {:el :concept
   :id :software-development.quantum-computing/computer
   :name "Computer"
   :desc "processes data and executes algorithms."}

  {:el :concept
   :id :software-development.quantum-computing/classical-computer
   :name "Classical Computer"
   :desc "uses classical bits to process information."}

  {:el :concept
   :id :software-development.quantum-computing/quantum-computer
   :name "Quantum Computer"
   :desc "uses quantum bits (qubits) to perform computations based on quantum mechanics."}

  ;; Relationships
  {:el :is-a 
   :from :software-development.quantum-computing/computer
   :to :software-development.quantum-computing/classical-computer
   :name "is a"
   :desc "type of"}

  {:el :is-a 
   :from :software-development.quantum-computing/computer
   :to :software-development.quantum-computing/quantum-computer
   :name "is a"
   :desc "type of"}

  {:el :rel
   :from :software-development.quantum-computing/quantum-computer
   :to :software-development.quantum-computing.algorithm/quantum-algorithm
   :name "runs"
   :desc "executes quantum algorithms"}

  {:el :rel
   :from :software-development.quantum-computing/classical-computer
   :to :software-development.quantum-computing.algorithm/classical-algorithm
   :name "runs"
   :desc "executes classical algorithms"}

  }