;;;;
;;;; Views for Domain Driven Design: Putting the Model to Work
;;;;
#{
  ;;;
  ;;; Concept Model Views
  ;;;
  {:el :concept-view
   :id :software-development.domain-driven-design.large-scale-structure/concept-view
   :spec {:selection [{:namespace-prefix "software-development.domain-driven-design.large-scale-structure"}
                      {:to {:namespace-prefix "software-development.domain-driven-design.large-scale-structure"}}]
          :include :related
          :layout :left-right
          ;:graphviz {:engine :neato}
          :markdown {:references true}}
   :name "DDD Large-scale Structure for Strategic Design Concept View"
   :title "Concept Map of the Domain Driven Design Large-scale Structure for Strategic Design Patterns"
   :desc "Shows the large-scale structure patterns and their relationships."}

}