;;;;
;;;; Views for Cloud Service Model
;;;;
#{;
  {:el :concept-view
   :id :software-development.cloud.deployment-model/concept-view
   :spec {:selection [{:namespace-prefix "software-development.cloud.deployment-model"}
                      {:to-namespace-prefix "software-development.cloud.deployment-model"}]
          :include :related
          :layout :left-right}
   :name "Concept View for Cloud Deployment Models"
   :title "Cloud Deployment Models Concept Map"
   :desc "Shows the concepts related to cloud deployment models and their relationships."}
  ;
  }
